.App {
  text-align: center;
  min-height: 100vh;
  background-color: #003527;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF; 
}