.button-51 {
  background-color: transparent;
  border: 1px solid #FFF;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #839b97;
  content: "";
  height: calc(100%);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: 0.3s;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before{
  background-color: #669d7e;
  right: 0px;
  top: 0px;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }

  .button-51:active:before{
    background-color: #669d7e;
    right: 0px;
    top: 0px;
  }
}