.modal {
    position: fixed;
    color: #003527;
    border-radius: 3%;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    background-color: hsl(120, 18%, 90%);
    overflow: auto;
    outline: 5px solid #FFF;
    z-index: 15;
}

.close-button {
    position: fixed;
    background-color: transparent;
    top: 5%;
    right:  5%;
    outline: none;
    border: none;
    z-index: 15;
}

.content{
    padding: 15px;
    color: #000;
}

.p:empty{
    display: none;
}

.a:empty{
    display: none;
}